/* common styling */

body {
    margin: 0;
}

.container {
    width: 100%;
    margin-bottom: 20px;
    /* background-color: azure; */
}

a {
    text-decoration: none;
}

.font-150{
    font-size: 150%;
}

.font-200{
    font-size: 200%;
}

.font-400{
    font-size: 400%;
}

.col-2 {
    width: 50%;
    margin: auto;
    float: left;
    height: 460px;
}

.col-4 {
    width: 25%;
    margin: auto;
    float: left;
}

.margin-left-10 {
    margin-left: 10px;
}

.clear {
    clear: both;
}

.padding-30 {
    padding: 0px 30px 0px 30px;
}

.fam-1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.2em;
}

/* buttons */

.button-white {
    padding: 10px 100px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.3em;
}

.button-black {
    padding: 10px 10px;
    background-color: black;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.3em;
}

/* title area */

#title-image {
    display: block;
    margin: auto;
    margin-top:50px;
    margin-bottom:50px;
}

/* you asked for it area */

#you-asked-for-it {
    height: 1000px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("./images/hero-image.jpg");
    background-position: center;
    background-size: cover;
    padding: 50px;
    color: white;
}

#you-asked-for-it h1, h4{
    margin: 0px;
}
#you-asked-for-it p{
    margin-top: 0px;
    margin-bottom: 60px;
}

.you-asked-text {
position: absolute;
bottom: -400px;
}

/* text area */

.text-description{
    text-align: center;
    padding: 70px 180px 70px 180px;
    font-size: 200%;
}

/* shirt colors area */

.heather-image {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    width: 60%;
    margin: auto;
    border: solid white 5px;
    position: relative;
    bottom: 200px;
}

.text-mask {
  color: black;
  mix-blend-mode: lighten;
  background-color: white;
}

#purple-texture {
    height: 400px;
    background-image: url("./images/purple-texture.jpg");
    background-position: center;
    background-size: cover;
}

.lavender-text-space{
    background-image: url("./images/purple-texture.jpg");
    background-position: center;
    background-size: cover;
    line-height: 200%;
}


#pink-texture {
    height: 400px;
    background-image: url("./images/pink-texture.jpg");
    background-position: center;
    background-size: cover;
}

.pyrenees-text-space{
    background-image: url("./images/pink-texture.jpg");
    background-position: center;
    background-size: cover;
    line-height: 200%;

}

/* logo area */

#logo-section {
    background-color: #7e768e;
    text-align: center;
    color: white;
    font-size: 150%;
    padding: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.2em;

}

#logo-section p {
    margin-top: 0px;
}

.logo-image {
    width: 60%;
}

/* final area  */

#push-up-section {
    padding: 250px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./images/bottom-image.jpg");
    background-position: center;
    background-size: cover;
}

/* media query fo keep images looking good */

@media only screen and (max-width: 950px) {
    body {
        /* background-color: lightgreen; */
    }

    .heather-image {
        width: 80%;
    }
}

/* media query for 768px */

@media only screen and (max-width: 768px) {

    body {
        /* background-color: lightblue; */
    }

    .font-150{
        font-size: 100%;
    }

    .font-200{
        font-size: 150%;
    }

    .font-400{
        font-size: 350%;
    }
    
    #title-image {
        width: 120px;
    }

    #you-asked-for-it {
        height: 800px;
    }

    .you-asked-text {
        bottom: -200px;
    }

    .text-description {
        font-size: 150%;
        padding: 50px 110px 50px 110px;
    }

    .heather-image {
    bottom: 100px;
    }

    .padding-30 {
        padding: 15px;
    }

    #purple-texture, #pink-texture {
        height: 300px;
    }

    .col-2 {
        height: 400px;
    }

    #logo-section {
        font-size: 100%;
    }

    #push-up-section {
        padding: 200px 100px 200px 100px;
    }
}

/* more in between media queries */

@media only screen and (max-width: 550px) {
    .font-200 {
        font-size: 130%;
    }

    .heather-image {
        bottom: 20px;
    }

    #logo-section {
        font-size: 80%;
        padding: 40px;
    }
}

/* media query for 425px */

@media only screen and (max-width: 425px) {
    body {
        /* background-color: lightgoldenrodyellow; */
    }

    #title-image {
        width: 100px;
        margin-top:20px;
        margin-bottom:20px;
    }

    .font-150{
    font-size: 100%;
    }

    .font-200{
        font-size: 120%;
    }

    .font-400{
        font-size: 250%;
    }

    #you-asked-for-it {
        height: 600px;
    }

    .you-asked-text {
        bottom: 60px;
    }

    #you-asked-for-it p{
    margin-top: 0px;
    margin-bottom: 30px;
}

    .button-white {
        padding: 10px 50px;
    }

    .text-description {
        padding: 50px;
    }

    #purple-texture {
        height: 200px;
    }

    #pink-texture {
        height: 200px;
    }

    .heather-image {
        width: 90%;
        bottom: 20px;
    }

    .padding-30 {
        padding: 10px;
    }

    .col-2 {
        height: 300px;
    }

    #logo-section {
        padding: 30px 10px 30px 10px;
        font-size: 70%;
    }

    #push-up-section {
        padding: 100px 50px;
    }
}